:root {
    --rojo: #e95153;
    --azul-marino:#152A69;
    --verde-claro:#B5EDDB;
    --lila:#D6D9ED;
    --beig:#F5E5C2;
    --gris:#f2f2f1;

}

@font-face{
    font-family: 'Geomanist-light';
    src: url('./fonts/Geomanist-Light-WZ.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'Geomanist-medium';
    src: url('./fonts/Geomanist-Medium-WZ.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'Geomanist-bold';
    src: url('./fonts/Geomanist-Bold-WZ.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'Geomanist-book';
    src: url('./fonts/Geomanist-Book-WZ.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
    height: auto;
    font-family:'Geomanist-light' ;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: var(--azul-marino);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  /*para borrar el recuadro azul que aparece por defecto con onclick*/
}
::-webkit-scrollbar {display: none;}
section{
    width:100vw;
    padding: 1rem 1rem;
}
.titulo{
    font-family: 'Geomanist-bold';
    font-size: 2rem;
    padding: 30px;
}
.subtitulo{
    font-family: 'Geomanist-medium';  
    font-size: 25px;
}

/* -----NAVbar-------------------------------------- */
nav{
    width:100vw ;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-family: 'Geomanist-bold';
    position: fixed;
    z-index: 2000;
    background: linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(181,237,219,1) 56%);
}
.logo{
    height: 100%;
    padding: 10px;
}
.logo-derecha{
    font-size: .7rem;
}
#logo-extra{
    display: none;
}
.logo img{
    height: 100%;
}



/* -----INICIO----------------------------------------------------------------- */

#inicio{
    /* background: violet; */
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-around ;
    background: linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(181,237,219,1) 56%);
}
#inicio .imagen{
   position: relative;
   display: flex;
   justify-content: center;
   width:40%;
   height: 80%;
   margin-top: 4rem;
}
#inicio .imagen img{
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

#inicio img:nth-child(1){
    opacity: 0;
    animation:zoomIn .3s .5s linear forwards;
    -webkit-animation:zoomIn .3s .5s linear forwards;
}
#inicio img:nth-child(2){
    filter: drop-shadow(30px 3px 20px rgba(0, 0, 0, .4));
    -webkit-filter: drop-shadow(30px 3px 20px rgba(0, 0, 0, .4));
    opacity: 0;
    animation: bounceIn .7s  linear forwards;
    -webkit-animation: bounceIn .7s  linear forwards;
}
.texto-inicio{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    animation:bounceInUp 1s .8s  linear forwards;
    -webkit-animation:bounceInUp 1s .8s  linear forwards;
}
.texto-inicio .item{
    margin-bottom: 1rem;
}
.title{
    font-family: 'Geomanist-book';
    font-size: 3rem; 
    font-weight: 500;
}
.title span .extra{
    color: var(--beig);
    -webkit-text-stroke: 1px var(--azul-marino);
}
.title span{
    color: var(--azul-marino);
    font-size: 4rem;
    font-family: 'Geomanist-bold';
}
.button{
    background:var(--rojo);
    color: white;
    width: 350px;
    padding: 1.5rem 3rem;
    text-align: center;
    font-family: 'Geomanist-book';
    font-size: 1rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

p{
    font-family:'Geomanist-light' ;
}

/* ---------------Beneficios-------------------------------------------------- */
#beneficios{
    background: var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-cards{
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    position: relative;
    overflow-x: visible; 
    padding-bottom: 2rem;
}
.icon img{
    width: 100%;  
}

.icon{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.front::after{
    content: '+';
    background:var(--azul-marino);
    color: var(--gris);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-weight: bolder;
}
 .card_container{ 
   position: relative; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
   width: 20em;
   height: 20em;
   cursor: pointer;
 } 
 .card{
    position: absolute;   /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color:var(--azul-marino);
    /* box-shadow: 3px 3px 20px rgba(0, 0, 0, .5); */
    transform:rotateY(0deg);     /* <<<<< ----animacion----- */
    transform-style: preserve-3d;
    transition: 0.5s cubic-bezier(0.4, 0.2, 0.2, 1) ;
    backface-visibility: hidden;  /* para ocultar la cara opuesta */  
 }
 .card_container:nth-child(1) .front,
 .card_container:nth-child(1) .back{
    background: var(--beig);
}
 .card_container:nth-child(2) .front,
 .card_container:nth-child(2) .back{
    background: var(--lila);
}
 .card_container:nth-child(3) .front,
 .card_container:nth-child(3) .back{
    background: var(--verde-claro);
}

 .front{
    width:100% ; 
    height: 100%; 
    transform:rotateY(0deg); 
 }

 .back{
   padding: 3em;
   width:100%; 
   height: 100%; 
   transform:rotateY(180deg);  /*180 grados, osea esta dado la vuelta */
 }

 
 /*  ----animacion----- */
 
 .card_container:hover > .front{ /* cuando el raton se pone encima susede > que la cara frontal se da la vuelta */
    transform:rotateY(-180deg);
 }
 
 .card_container:hover > .back{ /* cuando el raton se pone encima susede > que la cara back se da la vuelta */
    transform:rotateY(0deg);
 }
 
 

/* -----Como funZiona?------------------------------------------------- */
#como_funZiona{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    overflow-x: hidden;
}
.container-como{
    width: 55%;
}
#como_funZiona .titulo{
    font-size: 3.5rem;
}

#lista {
    list-style-type: none;
    margin: 0;
    margin-left: 5em;
    padding: 0;
    counter-reset: li-counter;
}

#lista > li{
    position: relative;
    padding: 1.5em;
    font-family: 'Geomanist-book';
    font-size: 1.3rem; 
    font-weight: 500;
}
#lista >li:before {
    position: absolute;
    top: -0px;
    left: -0.95em;
    width: 1em;
    font-size: 7em;
    line-height: 1;
    text-align: right;
    color: var(--verde-claro);
    z-index: -99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
    font-weight: 700;
}
.container-como p span{
    font-family: 'Geomanist-book';
}

/* -----CANVAS---------------------------------------------------------------- */
#canvas{
    display: flex;
    justify-content: center;
    align-items: center;
   /*  padding: 40px 0; */
}
.container-canvas{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.canvas{
    position: relative;
    width: 95%;
    height: auto;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    margin: 1rem;
    text-align: right;
}
.canvas .titulo{
   font-size: 40px;
}
.canvas p{
    font-family: 'Geomanist-book';
    font-size: 16px; 
    font-weight: 500;
    padding: 0 1.5rem;
}
.canvas-1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.imagen1{
    shape-outside: url('./img/canvas1.png');
    shape-image-threshold: 0.5;
    shape-margin: 30px;
    float: left;
    width: 70%;
    margin: 10rem 0 0 10px;  
}
.canvas-2{
    grid-column: 1/2;
    grid-row: 2/3;
}


.imagen2{
    shape-outside: url('./img/canvas2.png');
    shape-image-threshold: 0.5;
    shape-margin: 30px;
    float: left;
    width: 40%;
    margin: 0 2rem 0 3rem;
}


.canvas:nth-child(1){
    background: var(--verde-claro);
}
.canvas:nth-child(2){
    background: var(--beig);
}

.canvas-3{
    grid-column: 2/3;
    grid-row: 1/3;
    background: var(--lila);
    display: flex;
    justify-content: center;
    flex-direction: column;
   align-items: flex-start;
   text-align: left;
}
.canvas-3 img{
  width: 100%;
  padding: 2rem 0;
}
.canvas-3 .button{
    background: var(--azul-marino);
    padding: 1rem;
    margin: 1.5rem;
    font-size: 1rem;
}
/* -----------DUDAS----------------------------------------------------------- */
#dudas{
    background: var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 5rem;
    font-size: 1rem;
}
.container-preguntas{
    background: white;
    width: 80%;
    padding: 6rem;
}
#dudas ol {
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    counter-reset: li-counter;
}
#dudas ol span{
    font-size: .7rem;
}
svg{
    margin-right: 1rem;
}

.dropdown,
.dropdown__tab {
    overflow: hidden;
}

.dropdown__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.dropdown__tab-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    cursor: pointer;
    border-bottom: 1px solid var(--azul-marino);
}


.dropdown__tab-content {
    max-height: 0px;
    padding: 0 15px;
    transition: all .7s ease-in;
    -webkit-transition: all .7s ease-in;
    -moz-transition: all .7s ease-in;
    -ms-transition: all .7s ease-in;
    -o-transition: all .7s ease-in;
}

.dropdown__tab-label,
.dropdown__tab-content p {
    margin-bottom: 0;
    margin-top: 0;
}

.dropdown__checkbox:checked ~ .dropdown__tab-content {
    max-height: 10000px;
    padding: 15px;
    border-bottom: 1px solid var(--azul-marino);
}
.dropdown__checkbox:checked ~ .dropdown__tab-label {
    border-bottom: 0px solid var(--azul-marino);
}
.dropdown__checkbox:checked ~ .dropdown__tab-label svg {
 animation: rotate .5s linear forwards;
 -webkit-animation: rotate .5s linear forwards;
}
@keyframes rotate {
    to{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}


/*--------------- FOOTER---------- */
footer{
    background: var(--azul-marino);
    width: 100vw;
    height: 15rem;
    color: var(--beig);
}
footer h1{
    margin: 0 2rem;
}



/* ------------@mediaQuery---------------------------------------- */
@media only screen and (max-width: 1024px){
    #inicio .imagen img{
        height: 90%;
    }
}
@media only screen and (max-width: 768px){
    #inicio{
        flex-direction: column;
        text-align: center;
        font-size: .8rem;
    }
  
    .texto-inicio{
        width: 100vw;
        align-items: center;
        padding: 0 3rem;
    }
    #inicio .imagen{
       /*  background: chocolate; */
        margin: 0 auto;
        margin-top: 6rem;
        width: 100%;
        padding: 0 2rem;
    }
    #inicio .imagen img{
        max-width: 100%; 
        height: 100%;
    }
    .title{ 
        font-size: 2rem;
    }
    .title span{
        font-size: 3rem;
    }
 /* ---------------------------------------------- */
    #beneficios{
        background: var(--gris);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-cards{
        flex-direction: column;
    }
    .card_container{
        margin-bottom: 2rem;
        width: 18em;
        height: 18em;
    }
    .back,.front{
        padding:2em ;
    }
 /* ------------------------------------------- */
    #como_funZiona{
        padding: .2rem;
    }
    #como_funZiona .titulo{
        font-size: 2rem;
    }
    .container-como{
        width: 100%;
        padding: 2rem;
    }
    #lista {
        margin-left: 2em; 
    }
    #lista > li{
        font-size: 1rem; 
    }
    #lista >li:before {
        font-size: 5em;
        top: 20px;
    }
 /* -------------------------------------- */
    .container-canvas{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr 1fr; 
        padding: 0rem;
        column-gap: 20px; 
        row-gap: 20px;
    }
    .canvas-3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .canvas .button{
        width: auto;
        padding: 1.5rem 3rem;
        margin: 1rem auto;
    }
    .canvas{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin: 0;
    }
    .canvas .titulo{
        padding: 20px;
    }
  
    .canvas-1 img{
        order: 3;
    }
    .canvas-3 img{
        padding: 1rem 0;
      }
    .imagen1{
        margin: 10px 0 0 10px;  
    }
    .canvas-2{
        flex-direction: column-reverse;  
    }
  
    .imagen1{
        width: 100%;
        padding: 0 1rem;
    }
    .imagen2{
        width: 70%;  
        padding: 0 0 1rem;
    }
   
   
    /* ----------------------------------- */
    .container-preguntas{
        padding: 0rem;
        text-align: left;
        width: 90%;
    }
    .container-preguntas h2{
        font-size: 1.2rem;
        margin-right: 20px;
    }


}

@media only screen and (max-width: 425px) {
    nav{
        height: 4rem;
    }
    .logo{
        padding: 10px;
    }
    .logo img{
        padding: 0rem;
    }
    .button{
        width: 200px;
        padding: .7rem 1rem; 
        font-size: .8rem;
    }
    #inicio .imagen{
        margin-top: 6rem;
    }

    .title{
        font-size: 1.2rem; 
    }
    .title span{
        font-size: 2.5rem;
    }
   
    #beneficios .titulo{
        font-size: 1.2rem;
    }
    /* --------------------------------- */
    .card_container{ 
        position: relative; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
        width: 18em;
        height: 18em;
        cursor: pointer;
      } 
    /* ------------------------------------------ */
    .container-canvas{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr 1fr;  
    }
    
    .canvas-3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
   
    /* ------------------------------- */
    #dudas{
        text-align: center;
    }
    .container-preguntas h2{
        font-size: 1rem;
    }
  
    .container-svg{
        margin-right: 0;
        margin: 10px;
        width: 15px;
        height: 15px;
    }
    svg{
        width: 15px;
    }
    .dropdown__tab-label {
        padding: 15px; 
    }

    .icon{
        width: 150px;
        height: 150px;
    }
  }
/* ========================ANIMACIONES=========================== */
@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}

@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
    100%{
        opacity: 1;
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
    }
}


@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
      transform: translate3d(0, 3000px, 0) scaleY(5);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
      transform: translate3d(0, -20px, 0) scaleY(0.9);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
      transform: translate3d(0, 10px, 0) scaleY(0.95);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
      transform: translate3d(0, -5px, 0) scaleY(0.985);
    }
  
    to {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
